#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.doors {
  display: flex;
  flex-wrap: wrap;
  /* align-self: stretch; */
  justify-content: center;
}

.buttons {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background-color: red;
  

}

.buttons:hover button{
  box-sizing: border-box;
  background-color: #c0392c;
  color: white;
  border: 5px solid red;
  transition: 1s;
}

.buttons button {
  box-sizing: border-box;
  background-color: rgb(100, 100, 100);
  color: rgb(44, 44, 44);
  font-size: 2rem;
  border: 5px solid transparent;
  padding: 10px 25px;
}
